/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.sass */
input {
  display: none;
}

/* line 10, ../sass/screen.sass */
* {
  box-sizing: border-box;
}

/* line 12, ../sass/screen.sass */
html, body {
  width: 100%;
  height: 100%;
}

/* line 16, ../sass/screen.sass */
body {
  font-size: 15px;
  background: #adef6b;
}
/* line 19, ../sass/screen.sass */
body .wrap {
  width: 60%;
  background: #ccff98;
  margin: 10px auto;
}
/* line 24, ../sass/screen.sass */
body .wrap .menu {
  width: 100%;
  overflow: hidden;
  align-items: space-around;
  padding: 10px;
}
/* line 32, ../sass/screen.sass */
body .wrap .menu label {
  display: block;
  float: left;
  margin-left: 20px;
  width: 100px;
  height: auto;
  cursor: pointer;
}
/* line 39, ../sass/screen.sass */
body .wrap .menu label:hover {
  box-shadow: 0 0 10px black;
}
/* line 41, ../sass/screen.sass */
body .wrap .slider {
  width: 100%;
  height: 500px;
  padding: 20px;
  position: relative;
}
/* line 47, ../sass/screen.sass */
body .wrap .slider .slide {
  width: 90%;
  height: 90%;
  position: absolute;
  opacity: 0;
  transform: scale(1.2);
  transition: transform ease-in-out 1s, opacity ease-in-out 1s;
}
/* line 58, ../sass/screen.sass */
body .wrap .slider .slide1 {
  background-image: url("2.jpg");
  background-size: cover;
}
/* line 63, ../sass/screen.sass */
body .wrap .slider .slide2 {
  background: url("3.jpg");
  background-size: cover;
}
/* line 67, ../sass/screen.sass */
body .wrap .slider .slide3 {
  background: url("9.jpg");
  background-size: cover;
}
/* line 74, ../sass/screen.sass */
body .wrap .slider .slide4 {
  background: url("11.jpg");
  background-size: cover;
}
/* line 79, ../sass/screen.sass */
body .wrap .slider .slide5 {
  background: url("6.jpg");
  background-size: cover;
}
/* line 84, ../sass/screen.sass */
body .wrap .slider .slide6 {
  background: url("15.jpg");
  background-size: cover;
}

/* line 89, ../sass/screen.sass */
.slider #but1:checked ~ .slide1 {
  opacity: 1;
  transform: scale(1);
}

/* line 93, ../sass/screen.sass */
.slider #but2:checked ~ .slide2 {
  opacity: 1;
  transform: scale(1);
}

/* line 97, ../sass/screen.sass */
.slider #but3:checked ~ .slide3 {
  opacity: 1;
  transform: scale(1);
}

/* line 101, ../sass/screen.sass */
.slider #but4:checked ~ .slide4 {
  opacity: 1;
  transform: scale(1);
}

/* line 105, ../sass/screen.sass */
.slider #but5:checked ~ .slide5 {
  opacity: 1;
  transform: scale(1);
}

/* line 109, ../sass/screen.sass */
.slider #but6:checked ~ .slide6 {
  opacity: 1;
  transform: scale(1);
}
